{% extends 'base.html' %}


{% block head %}
<title>데이터 품질 관리 및 분석</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: left">Bad Hosts</h1>
    <table>
        <tr>
            <th>Tables</th>
                <td>
                    <a href="/data/RawData">RawData</a>
                    <a href="/data/AllData">AllData</a>
                    <a href="/data/ShareData">ShareData</a>
                </td>
        </tr>
    </table>
    <div>
        <br>
        <table>
            <tr>
                <th>TASKS</th>
                    <td>
                        <a href="/upload_csv">Upload csv</a>
                        <a href="/upload_AllData">Rawdata to AllData</a>
                        <a href="/report">Download Report</a>
                        <a href="/badhosts">Bad Hosts</a>
                    </td>
            </tr>
        </table>
        <br>
    </div>
    <form action="/badhosts" method="POST">
        <br>
        <a>Upload Bad Host</a>
        <br>
        <input type="text" name="host" id="host">
        <input type="submit" value="Insert">
    </form>
    <table>
        <tr>
            <th>No.</th>
            <th>Host</th>
        </tr>

        {% for count, task in enumerate(bad_host) %}
            <tr>
                <td>
                    {{count+1}}
                </td>
                <td>
                    {{task}}
                </td>
            </tr>
        {% endfor %}        
    </table>
</div>
{% endblock %}