{% extends 'base.html' %}


{% block head %}
<title>데이터 품질 관리 및 분석</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: left">데이터 품질 관리 및 분석</h1>
    <table>
        <tr>
            <th>Tables</th>
                <td>
                    <a href="/data/RawData">RawData</a>
                    <a href="/data/AllData">AllData</a>
                    <a href="/data/ShareData">ShareData</a>
                </td>
        </tr>
    </table>
    <div>
        <br>
        <table>
            <tr>
                <th>TASKS</th>
                    <td>
                        <a href="/upload_csv">Upload csv</a>
                        <a href="/upload_AllData">Rawdata to AllData</a>
                        <a href="/report">Download Report</a>
                        <a href="/badhosts">Bad Hosts</a>
                    </td>
            </tr>
        </table>
        <br>
    </div>
    {% if table == 'RawData' %}
    <br>
    <a>RawData to AllData</a>
    <br>
    <form action="/upload_AllData" method="POST">
        <br>
        <a>계열 이름</a>
        <input type="text" name="filename" id="filename">
        <input type="submit" value="Upload to AllData">
    </form>
    <br>
    {% endif %}
    <table>
        <tr>
            <th>Host</th>
            <th>IP</th>
            <th>App</th>
            <th>Service</th>
            <th>계열</th>
        {% if rlen== 8 %}
            <th>중복여부</th>
        {% endif %}
            <th>Date</th>
            <th>Delete</th>
        </tr>
        {% for task in rs %}
            <tr>
            {% for num in range(1, rlen) %}
                <td>{{ task[num] }}</td>
            {% endfor %}   
                <td>
                    <a href="/delete/{{table}}/{{task[0]}}">Delete</a>
                </td>
            </tr>
        {% endfor %}        
    </table>
</div>
{% endblock %}