{% extends 'base.html' %}

{% block head %}
<title>데이터 품질 관리 및 분석</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: left">데이터 품질 관리 및 분석    {% if emergency == 'emergency' %}
        <br>
        <br>
        **emergency Upload**
        <br>
        <br>
        {% endif %}</h1>
    <table>
        <tr>
            <th>Tables</th>
                <td>
                    <a href="/data/RawData">RawData</a>
                    <a href="/data/AllData">AllData</a>
                    <a href="/data/ShareData">ShareData</a>
                </td>
        </tr>
    </table>
</div>
<br>
<br>
<div>
    <table>
        <tr>
            <th>TASKS</th>
                <td>
                    <a href="/upload_csv">Upload csv</a>
                    <a href="/upload_AllData">Rawdata to AllData</a>
                    <a href="/report">Download Report</a>
                    <a href="/badhosts">Bad Hosts</a>
                </td>
        </tr>
    </table>
</div>
<div>
    {% if emergency == 'emergency' %}
    <form action="/upload/emergency" method="POST">
    {% endif %}
    {% if emergency != 'emergency' %}
    <form action="/upload_csv" method="POST">
    {% endif %}
        <br>
        <br>
        <a>폴더 이름</a>
        <input type="text" name="folder_name" id="folder_name">
        <br>
        <a>계열 이름</a>
        <input type="text" name="file_name" id="file_name">
        <br>
        <input type="submit" value="submit">
    </form>
</div>
{% endblock %}